.main {
    display:flex;
    flex-direction: row-reverse;


}

.results {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:center;
    padding: 2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: var(--container-width-lg);
    
}

.resultsbtn {
    background-color: black;
    
    


}
#save {
    background-color: black;

}

 .activity {
     padding: 1.5rem; 
 }



