

.dayplan {
  width: 100vw;
  position: absolute;
  top: calc(5vh + 20px);
}

.headingcard {
  background-color: var(--color-bg);
    color: var(--color-primary);
    padding: 1rem;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 1.5rem 2vw;
    /* width: 53%; */
    /* height: 10ew; */
    float: left;
    /* margin-right: 100px; */
    border: 4px solid black;
    background-color: white;
}

.text {
  text-align: left;
  color: black;
  width: 100%;
  font-size: 3vw;
  font-weight: bold;
}

.title {
    text-align: center;
    font-size: 1.75vw;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: black;
    max-height: 20%;
  }

.all_cards {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-left: 2vw; */
  /* margin-right: 2vw; */
  /* margin-bottom: 2%; */
  width: 90%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.activity {
  width: 100%;
  height: 50vh;
  display: flex;
  margin-bottom: 3vh;
}

.card {
  width: 50vh;
  height: 50vh;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  color: black;
  text-align: justify;
  box-sizing: border-box;
  border-radius: 1.6rem;
  border: 5px solid black;
  box-shadow: 8px 8px black;
}

.image_container {
  width: 100%;
  height: 75%;
}

.card_image {
	border-radius: 1rem;
	border: 3px solid black;
    width: 100%;
    height: 100%;
	object-fit: cover;
}

.text_container {
  height: 50vh;
  width: 50%;
  margin: 2rem;
}
.text_container p {
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1rem;
  text-align: start;
}

.iconbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
}

.icon {
  color: black;
  padding-left: 3px;
}

.maplink {
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 1vw;
  text-decoration: underline;
}

.maplink2 {
  display: flex;
  align-items: center;
}

.text_container h2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  border: 3px solid black;
  background-color: var(--color-secondary);
  max-width: fit-content;
  border-radius: 1rem;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.button_dayplan {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.card_title {
   font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.75vw;
    font-weight: bold;
}

/* .button_dayplan {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 40%;

}
  .dayplan {
    color: var(--color-white);
    position: relative;
    vertical-align: middle;
    margin-top: 10vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  
  .dayplancard {
    background-color: var(--color-bg);
    color: var(--color-primary);
    padding: 1rem;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
    font-family: 'Quicksand';
    font-weight: bold;
    margin: 1.5rem 1.1rem;
    width: 53%;
    height: 10ew;
    float: right;
    margin-right: 100px;
    border: 4px solid black;
    background-color: white;
  }
  
  .text {
    text-align: left;
    color: black;
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
  }
  
  .all_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    width: 100%;
  }

  .main_card {
    display: flex;
    justify-content: space-around;
    gap: 2.5%;
    padding: 1rem;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    border: 5px solid black;
    box-shadow: 10px 10px black;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
  }

  .image_container {
    width: 100%;
    height: 75%;
}

.card_image {
  border-radius: 1rem;
  border: 3px solid black;
    width: 100%;
    height: 100%;
  object-fit: cover;
}
  
  .img_container h2 {
    font-size: 2vw;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  .img_container img {
    border: 2px solid black;
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .text_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
  }
  
  
  */