@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Megrim');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: none;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #F8F5EF;
  --color-bg-navbar: #FFFFFF;
  --color-primary: #000000;
  --color-primary-navbar: #041562;
  --color-white: #fff;
  --color-black:#000000;
  --color-btn: #F9A03F;
  --transition: transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Quicksand", sans-serif;
  background: var(--color-bg) !important;
  color: var(--color-black);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
}

h1 {
    font-size: 4.5rem;
}


/* section styles to be refactored on page 2 & 3 */

/* section {
    margin-top: 8rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light)
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
} */

text-light {
    color: var(--color-light)
}

a {
    color: var(--color-primary-navbar);
    transition: var(--transition)
}

a:hover {
    color: var(--color-btn)
}

.btn {
    width: max-content;
    display: inline-block;
    background-color: var(--color-btn);
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    margin: 1.5rem 1.5rem;
    box-shadow: 0.5px 1px black;
    font-family: "Quicksand";
    font-weight: bold;


}

.btn:hover {
    background: var(--color-black);
    color: var(--color-bg);
    border-color: transparent;

}



/* styling to be refactored */
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 100vw;
  margin: 0 auto;
}

