.homepage {
    color: var(--color-white);
    z-index: 1;
    position: relative;
    text-align: center;
    padding: center;
    vertical-align: middle;
    margin-top: 30vh;
    font-size: 2rem;
    background-color: transparent;
}

.homepagebtn {

    width: max-content;
    display: inline-block;
    background-color: var(--color-btn);
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    margin: 1.5rem 1.5rem;
    box-shadow: 0.2rem 0.2rem black;
    font-size: 1.5rem;
    font-family: "Quicksand";
    font-weight: bold;

    

}

.homepagebtn:hover {
    background: var(--color-black);
    color: var(--color-bg);
    border-color: transparent;
}

.landingimage {
    z-index: 0;
    position: relative;
    opacity: 0.75;
}

.welcomecard{
    background-color: var(--color-bg);
    color: var(--color-primary);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0.5px 1px black;
    font-size: 1.5rem;
    font-family: "Quicksand";
    font-weight: bold;
    margin: 1.5rem 1.5rem;
    width: 500px;
    height: 400px;
    float:right;
    margin-right: 100px;

}

.text{
    text-align: center;
    color: black;
}

