
.navbar {
  top: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #000;
  z-index: 1;
  position: fixed;
  background-color: #F8F5EF;
  height: 5vh;
  width: 100vw;
  box-sizing: content-box;
  z-index: 10;

}

  /* text-shadow: 0.5px 1px grey; */


.navbar a {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2vmin;
  font-family: "Quicksand", sans-serif
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #F8F5EF;
  height: 1vmin;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-family: "Quicksand", sans-serif
  }


  .navbar h2 { 
    margin-right: auto;
    font-family: 'Megrim';
    font-size: xx-large;
    justify-content: flex-start;
    margin-left: 1.5vw;
    cursor: pointer;
    font-size: 4vmin;
  }

  .navbar h2:hover {
      color: var(--color-btn);
      cursor: pointer;
  }

/* MEDIA QUERIES (SMALL DEVICES)  */

/* @media screen and (max-width: 600px) {
.navbar {
  /* flex-wrap: wrap; */


.footer {
  font-size: 0.75rem;
  z-index: 2;
  width: 100%;
  font-family: "Quicksand", sans-serif
}
 
.logindisplay {
  /* background-color: #F8F5EF; */
  background-color: var(--color-secondary-btn);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2vmin;
  font-family: "Quicksand", sans-serif;
  width: max-content;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  transition: var(--transition);
  box-shadow: 4px 4px black;
  font-weight: bold;
}

.logindisplay:hover {
  background: var(--color-black);
  color: var(--color-bg);
  border-color: transparent;
}

/* .ppcontainer {
  border-radius: 50%;
  background-color: red;
  height: 50%;
  width: 50%;
} */

.pp {
  object-fit: cover;
}
