.main {
    display:flex;
    flex-direction: row-reverse;
   


}
.resultspagefont {
    padding: 2rem;
    text-align: center;
    width: 40rem;
    font-family: "Quicksand", sans-serif;
    color: var(--color-black);
    line-height: 1.7;



}

.results {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:center;
    padding: 2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50cm;
    
}

.resultsbtn {
    background-color: black;
    

}

.imagebtn {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.imagebtn button {
    max-height: 50px;
    width: 50cm;
}

/* .form button {
    margin: 0;
    position: relative;

    
} */

.resultsfont {
    font-family: "Quicksand", sans-serif;
    color: var(--color-black);
    line-height: 1.7;
}

.daybtn button {

    margin: 1.5rem 0!important;


}

 .activity {
    padding: 1.5rem; 
    border: 3px solid;

 }

.carousel {
    width: 40vw;
    position: responsive;
}

.favouritesbutton {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem;
}

.favouritesbuttonred {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
    color: red;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem;
}

.savebutton {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem;
}

.savebuttonclose {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem;
}

.addbutton:hover {
    background-color: black;
    color: white;
    border-radius: 50%;
}