.main {
    display:flex;
    flex-direction: row-reverse;


}

.results {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items:center;
    padding: 2rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: var(--container-width-lg);
    
}

.resultsbtn {
    background-color: black;
    

}

.imagebtn {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.imagebtn button {
    max-height: 50px;
    
}

/* .form button {
    margin: 0;
    position: relative;

    
} */

.resultsfont {
    font-family: "Quicksand", sans-serif;
    color: var(--color-black);
    line-height: 1.7;
}

.daybtn button {

    margin: 1.5rem 0!important;


}

 .activity {
     padding: 1.5rem; 
 }

.carousel {
    width: 30vw;
    position: static;
}

.favouritesbutton {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
}

.favouritesbuttonred {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
    color: red;
}

.savebutton {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
}

.savebuttonclose {
    z-index: 10;
    position: relative;
    right: 6vw;
    top: 15vh;
}